body {
    background: #222;
}

.container {
    margin: 0 auto;
    width: 1280px;
    height: 900px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__calc {
    color: rgb(205, 169, 157);
    margin-bottom: 25px;
    font-weight: bold;
}

.calc {
    height: 370px;
    color: rgb(102, 179, 255);
    width: 240px;
    margin: 0 auto;
    border: solid 3px #abeaff;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #ba9b91;
}

.calc__out {
    width: 200px;
    min-height: 60px;
    border-radius: 5px;
    background-color: #abeaff;
    display: block;
    text-align: right;
    padding: 0 15px;
    line-height: 60px;
    font-size: 28px;
    border: 0;
    outline: 0;
}

.calc__out:focus {
    box-shadow: 0 0 2pt 1pt rgb(102, 179, 255);
}

.calc__buttons {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
}

.calc__buttons button {
    width: 42px;
    height: 45px;
    border-radius: 50%;
    border: solid 1px #abeaff;
    outline: none;
    cursor: pointer;
    color: rgb(102, 179, 255);
    margin: 3px;
    font-size: 18px;
}

.calc__buttons button:active {
    background-color: #abeaff;
}

.btn_flex {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.equality {
    background-color: rgb(102, 179, 255);
    color: white !important;
}